.box {
  width: 200px;
  height: 200px;
  display: grid;
  padding: 10px;
  img {
    height: 150px;
    margin: auto;
  }
  .bottom {
    display: flex;
    padding: 5px;
    .text {
      display: grid;
    }
    button {
      margin-left: auto;
      max-height: 40px;
    }
  }
}
