<div class="box">
  <img src="{{box.node.iconUrl}}">
  <div class="bottom">
    <div class="text">
      <span>{{box.node.name}}</span>
      <span>${{box.node.cost}}</span>
    </div>
    <button (click)="openBox(content)" class="btn btn-primary">Open</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Open box</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-detail-box [box]="box"></app-detail-box>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="buyBox(modal)">Open</button>
  </div>
</ng-template>
